{% embed 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
{% set blog_image = page.media.images|first %}

<div class="blog-header">
    <h1>{{ page.title }}</h1>
</div>

<div class="content-wrapper">
    <div class="product-grid">
        {% for child in collection %}
            {% include 'partials/blog_item.html.twig' with {'page':child} %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% endembed %}